#bar_chart { /* SVG */
  shape-rendering: crispEdges;
}

#bar_chart .axis path { /* axis line */
  stroke: none;
  stroke-width: 0;
}

#bar_chart .axis line { /* tickmarks */
  stroke: black;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

#bar_chart .axis text { /* labels */
  font-family: sans-serif;
  font-size: 11px;
  font-weight: bold;
}

#bar_chart #chart rect:hover { /* bars */
  fill-opacity: 0.5;
  stroke-width: 2px;
  stroke-opacity: 1;
  stroke: gray;
}

#bar_chart #chart text { /* value labels */
  font-weight: bold;
  font-family: sans-serif;
  font-size: 11px;
}

/* testing only */
/* #chart {
  border: solid;
} */
